@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: "Roboto Thin", "Arial", sans-serif;
}

.text-color,
.card-title {
  color: #0d5c63;
}

$color1: #14213d;
$colorText: #0d5c63;
